&{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200,50,30,0.7);
}
md-card{
  max-width: 800px;
}
span{
  line-height: 24px;
  vertical-align: middle;
}
md-icon{
  line-height: 24px;
  vertical-align: middle;
}
