{{outlet}}
{{#if errorMessage}}
  {{error-message message=errorMessage}}
{{/if}}
  <div class="layout-row layout-align-center-start">
    <div class="flex-50">
      {{unstagram-timeline
        photos=photos
        getPhotos=(action "getPhotos")
      }}
    </div>
  </div>
  {{#unless errorMessage}}
  <div class="layout-row layout-align-center-start" style="margin-top:-250px;">
    {{infinite-scroll onVisible=(action "getPhotos") loading=isLoading}}
  </div>
  {{/unless}}
